#about {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    gap: min(2rem);
}

.about-img {
    max-height: clamp(10rem, 20vw, 30rem);
    max-width: clamp(10rem, 20vw, 30rem);
    box-shadow: 0 0 30px 5px rgb(77, 0, 0);
    margin-left: 15%;
}

.about-text {
    max-width: 30%;
    margin-right: 15%;
}

.about-title {
    margin-bottom: 2rem;
}