* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #090c11;
}

h2 {
    font-size: clamp(1rem, 0.6250rem + 1.6667vw, 1.5rem);
}

p {
    font-size: clamp(0.6rem, 0.3000rem + 1.3333vw, 1rem);
    line-height: clamp(0.8rem, 0.2000rem + 2.6667vw, 1.6rem);;
}

a {
    text-decoration: none;
}